$roboto-font-path: '~mdbvue/build/font/roboto/';

@import './mdb-imports.scss';

@import './variables';
@import './mixins/forms';
@import './mixins/components';
@import './mixins/colors';

html {
  font-size: 14px;
}

body {
  font-family: 'Chapeau', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  background: $grey-lighter;
  min-width: 430px;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

.table-cells-middle {
  tbody td {
    vertical-align: middle;
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  $text-color: $grey-dark;

  color: $text-color;
  background-color: $white;
  // background-color: lighten(#863970, 5%);
  // background-image: linear-gradient(0deg, #b074a3 0%, #863970 100%);

  .navbar {
    transition: 250ms;

    @include media-breakpoint-up(lg) {
      padding-right: 2rem;
    }

    .navbar-brand {
      margin-right: 0;

      svg {
        .product {
          fill: $primary;
        }
        .company {
          fill: $text-color;
        }
      }
    }

    .navbar-nav {
      font-size: 0.9rem;
      font-weight: normal;

      .nav-item {
        text-transform: uppercase;

        &,
        .nav-link {
          color: $text-color;
        }

        .active {
          background-color: rgba(255, 255, 255, 0.1);
        }
      }
    }

    .dropdown-menu {
      padding: 0.5rem;

      .dropdown-item {
        font-weight: normal;

        &:hover {
          background-color: #e8eaf6;
          border-radius: 0.125rem;
        }
      }
    }
  }
}

.main {
  flex-grow: 1;
  padding: 2em 1em;

  .container {
    position: relative;
  }
}


// homepage specific
.app-homepage {
  $header-height: 80px;

  .header {
    $text-color: $white;

    color: $text-color;
    background: none;
    height: $header-height;
    z-index: 2;

    .navbar {
      box-shadow: none;

      .navbar-brand svg {
        .product,
        .company {
          fill: $text-color;
        }
      }

      .navbar-nav {
        .nav-item {
          &,
          .nav-link {
            color: $text-color;
          }
        }
      }
    }
  }

  .main {
    margin-top: -$header-height;
    padding: 0;


  }
}
